body {
	font-family: 'Comfortaa', sans-serif;
	box-sizing: border-box;
	color: #000;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.2;
}
*,
*::after,
*::before {
	box-sizing: inherit;
}
a {
	text-decoration: none;
	color: inherit;
}
ul {
	list-style: none;
}
button {
	font-family: 'Comfortaa', sans-serif;
	background-color: transparent;
	border: none;
	border-radius: 0;
	padding: 0;
	cursor: pointer;
	transition: background-color 0.5s ease-in-out;
}
button:hover {
	background-color: #fff8f3;
}
.container {
	max-width: 1180px;
	margin: 0 auto;
	padding-inline: 20px;
}
.menu__btn {
	display: none;
	width: 30px;
	height: 25px;
	flex-direction: column;
	justify-content: space-between;
}
.menu__btn span {
	height: 1px;
	background-color: #7b6152;
}
/* HEADER */
.header {
	background-color: #fff8f3;
}
.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 4px;
}
.menu__list {
	display: flex;
	gap: 20px;
}
.menu__link {
	text-transform: uppercase;
}
.menu__list--item {
	transition: color 0.3s ease-in-out;
}
.menu__list--item:hover {
	color: #ffbd59;
}
.phone {
	position: relative;
}
.phone::before {
	position: absolute;
	background-image: url('../images/header/phone.svg');
	left: -24px;
	top: -4px;
	content: '';
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 20px;
	aspect-ratio: 1;
}

/* FOOTER */
.footer {
	padding-top: 40px;
	padding-bottom: 35px;
}
.footer__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer__contacts {
	width: 230px;
	display: flex;
	flex-direction: column;
}
.email {
	margin-block: 16px;
}
.footer__social {
	display: flex;
	gap: 0 15px;
}
/* TOP */
.main {
	background-color: #fff8f3;
	overflow-x: clip;
}
.top {
	padding-top: 40px;
	padding-bottom: 150px;
}
.top__inner {
	position: relative;
}
.top__content {
	padding: 150px 0 250px;
	width: 370px;
}
.top__title {
	margin-bottom: 15px;
	font-size: 30px;
	font-family: 'Yeseva One', serif;
}
.top__text {
	margin-bottom: 48px;
}
.top__buy {
	padding: 18px 54px;
	background-color: #ffbd59;
	font-weight: 600;
	font-size: 14px;
}
.top__img {
	position: absolute;
	top: 0;
	left: 240px;
}

@media (max-width: 1000px) {
	/* HEADER */
	.top__content {
		width: 333px;
		padding: 95px 0 70px;
	}
	.top__img-l {
		width: 655px;
	}
	.top__img {
		left: 300px;
	}
	.top__text {
		margin-bottom: 30px;
	}
}

@media (max-width: 900px) {
	.footer__inner {
		flex-wrap: wrap;
	}
	.footer__contacts {
		padding-top: 15px;
		width: 100%;
		text-align: center;
	}
	.footer__social {
		justify-content: center;
	}
}
@media (max-width: 768px) {
	body {
		font-size: 10px;
	}
	.container {
		max-width: 640px;
	}
	.phone::before {
		width: 14px;
		left: -16px;
		top: -2px;
	}
	.top__content {
		width: 230px;
	}
	.top__title {
		font-size: 20px;
		margin-bottom: 20px;
	}
	.top__text {
		font-size: 10px;
		margin-bottom: 20px;
	}
	.top__img {
		left: 180px;
	}
}
@media (max-width: 640px) {
	.container {
		padding-inline: 10px;
	}
	.header__menu-list {
		position: absolute;
		width: 153px;
		background-color: #7b6152;
		color: #fff8f3;
		flex-direction: column;
		gap: 20px 0;
		padding: 25px 35px 25px 45px;
		top: 0;
		left: 0;
		transform: translateY(-110%);
		transition: transform 0.5s ease;
		z-index: 1;
	}
	.header__menu-list.menu--open {
		transform: translateY(0);
	}
	.menu__btn {
		display: flex;
	}
	.header__menu {
		order: 1;
	}
}
@media (max-width: 500px) {
	.footer__inner {
		flex-direction: column;
	}
	.footer__menu {
		padding: 50px 0;
	}
	.footer__menu-list {
		flex-direction: column;
	}
	.footer {
		padding: 50px 0;
		font-size: 14px;
	}
}
@media (max-width: 480px) {
	.top__img-l {
		width: 308px;
		left: 167px;
	}
	.top__title {
		font-size: 15px;
		margin-bottom: 15px;
	}
	.top__text {
		font-size: 8px;
		margin-bottom: 15px;
	}
	.top__buy {
		font-size: 10px;
		padding: 14px 41px;
	}
	.top__content {
		width: 180px;
	}
	.top {
		padding: 30px 0 50px;
	}
}
@media (max-width: 360px) {
	.top__content {
		width: 200px;
	}
	.top__img-l {
		width: 180px;
	}
	.top__img {
		left: auto;
		right: 0;
	}
	.top__title {
		font-size: 18px;
	}
	.top__text {
		font-size: 10px;
	}
	.top__buy {
		font-size: 10px;
		padding: 14px 41px;
	}
	.top__content {
		padding: 20px 0 0;
	}
}
